## <b> Pandas Challenge - Heroes of Pymoli </b>
#### <i> Submitted by : Sheetal Bongale </i>
##### This Jupyter notebook will analyze the game's purchasing data into meaningful insights.
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [89]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [90]:
# Find total player count (Unique)
total_players = len(purchase_data["SN"].value_counts())

pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
# Calculations for unique items, average price, number of purchase and Total revenue
num_of_unique_item = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

# Create data frame with obtained values
purchase_df = pd.DataFrame({
    "Number of Unique Items": [num_of_unique_item], 
    "Average Price": [avg_price], 
    "Number of Purchases": [num_purchases],
    "Total Revenue": [total_revenue]})
purchase_df

purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${:,.2f}".format)
purchase_df["Average Price"] = purchase_df["Average Price"].map("${:,.2f}".format)
purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [92]:
# convert value to rounded percentage instead of using map format
def percent(x):
    return str(round(x*100))+'%'

In [93]:
# Gender Demographic analysis
total_count_gender = purchase_data.groupby("Gender").nunique()["SN"]

gender_df= pd.DataFrame({"Total Count": total_count_gender,
                          "Percentage of Players":total_count_gender/total_players * 100})

# No Index name for the Gender column and formating 
gender_df.index.name = None
gender_df = gender_df.sort_values(["Total Count"], ascending = False)

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("${:,.2f}".format)
gender_df

                       Total Count Percentage of Players
Male                           484                $84.03
Female                          81                $14.06
Other / Non-Disclosed           11                 $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
# Purchasing Analysis by Gender
purchase_gender = purchase_data.groupby("Gender")

purchase_analysis_gender = pd.DataFrame({"Purchase Count":purchase_gender["Price"].count(), 
                             "Average Purchase Price":purchase_gender["Price"].mean(),
                             "Total Purchase Value":purchase_gender["Price"].sum(), 
                             "Avg Total Purchase per Person":purchase_gender["Price"].sum()/gender_df["Total Count"]})
#Format and Display Output
columns = ["Average Purchase Price","Total Purchase Value", "Avg Total Purchase per Person"]
purchase_analysis_gender[columns] = purchase_analysis_gender[columns].applymap("${:,.2f}".format)
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [137]:
# Age Demographics analysis
# Establish bins and labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39", "40+"]

#age_demo_df = gender_df.loc[:,["Total Count", "Percentage of Players"]]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

by_agegroup = purchase_data.groupby(["SN","Age Group"])

age_demo_summary = pd.DataFrame(by_agegroup.size().groupby(["Age Group"]).count())
age_demo_summary.columns=["Total Count"]
age_demo_summary["Percentage of Players"] =age_demo_summary["Total Count"]/age_demo_summary["Total Count"].sum()*100
# Reformat 
age_demo_summary.index.name = None
age_demo_summary["Percentage of Players"] = age_demo_summary["Percentage of Players"].map("{:,.2f}%".format)
age_demo_summary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [139]:
group_by_age = purchase_data.groupby(["Age Group"])

purchase_analysis_age = pd.DataFrame({
    "Purchase Count" : group_by_age["Purchase ID"].count(),
    "Average Purchase Price" : group_by_age["Price"].mean(),
    "Total Purchase Value" : group_by_age["Price"].sum(),
    "Avg Total Purchase per Person" : group_by_age["Price"].sum()/age_demo_summary["Total Count"]
})

#Format and Display Output
purchase_analysis_age.index.name = None
columns = ["Average Purchase Price","Total Purchase Value", "Avg Total Purchase per Person"]
purchase_analysis_age[columns] = purchase_analysis_age[columns].applymap("${:,.2f}".format)
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [151]:
# Find the Top Spenders
group_by_sn = purchase_data.groupby(["SN"])
top_spenders_df = pd.DataFrame({
    "Purchase Count" : group_by_sn["Purchase ID"].count(),
    "Average Purchase Price" : group_by_sn["Price"].mean(),
    "Total Purchase Value" : group_by_sn["Price"].sum(),
})

top_spenders_df.sort_values("Total Purchase Value", ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Find the most popular items
group_by_item = purchase_data.groupby(["Item ID"])

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame