## <b> Pandas Challenge - PyCitySchools </b>
#### <i> Submitted by : Sheetal Bongale </i>
---
### Note
* Please find the written analysis of this data at the bottom of this jupyter notebook.
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [90]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [91]:
# Calculate district's key metrics
total_school_count = school_data_complete["school_name"].nunique()
total_student_count = student_data["student_name"].count()
total_budget = school_data['budget'].sum()

avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()

passing_math_percentage = (school_data_complete['math_score'] >= 70).sum()/ total_student_count
passing_reading_percentage = (school_data_complete['reading_score'] >= 70).sum()/ total_student_count
overall_pass_percentage =  (avg_math_score + avg_reading_score)/2/100

# Output
district_summary = pd.DataFrame({
    "Total Schools": [total_school_count],
    "Total Students": [total_student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading":[passing_reading_percentage],
    "Overall Passing Rate": [overall_pass_percentage]
})

# Reformat output
district_summary.style.format({
    "Total Budget": "${:,.2f}", 
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",  
    "% Passing Math": "{:.2%}", 
    "% Passing Reading": "{:.2%}", 
    "Overall Passing Rate": "{:.2%}"
})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [92]:
# Group by school
groupby_schools = school_data_complete.groupby("school_name")

# Calculations for the School summary
school_type = school_data.set_index(["school_name"])["type"]
total_students = groupby_schools["Student ID"].nunique()
total_school_budget = groupby_schools["budget"].mean()
per_student_budget = total_school_budget/total_students
avg_math_score = groupby_schools["math_score"].mean()
avg_reading_score = groupby_schools["reading_score"].mean()
passing_math_percent = groupby_schools[["math_score"] >= 70].sum()/ total_students
passing_reading_percent = groupby_schools[["reading_score"] >= 70].sum()/ total_students

print(passing_reading_percent)

school_summary = pd.DataFrame({
    "School Name" : [groupby_schools], 
    "School Type": [school_type],
    "Total Students": [total_students]
})

TypeError: '>=' not supported between instances of 'list' and 'int'

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [3]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [4]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.


## Analysis
---